    
h1{
    color: red;
    font-size: 100px;
    background-color: black;
    text-align: center;
    margin: 100px;
}
img{
    height: 400px;
    width: 700px;

}
h2{
    color: blue;
    font-size: 100px;
}
p{
    color: brown;
    background-color: black;
}
strong{
    color: blue;
    background-color: black;
}